LoggerMT/LoggerMT/test_4_12_2015(1).txt
LoggerMT/LoggerMT/obj/
LoggerMT/LoggerMT/bin/Debug/LoggerMT.vshost.exe.manifest
LoggerMT/LoggerMT/bin/Debug/LoggerMT.vshost.exe.config
LoggerMT/LoggerMT/bin/
LoggerMT/LoggerMT/test_4_12_2015(2).txt
LoggerMT/LoggerMT/test_4_12_2015.txt
